<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie6 ie"><![endif]-->
<!--[if IE 7]><html class="ie7 ie"><![endif]-->
<!--[if IE 8]><html class="ie8 ie"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ja" class="">
<!--<![endif]-->
<head>
<meta charset="UTF-8">
<!--script frontend-->
<script type="text/javascript"
	src="../../../js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="../../../js/lib/jquery_plugin/bs/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="../../../js/lib/jquery_plugin/placeholder/jquery.placeholder.js"></script>
<script type="text/javascript"
	src="../../../js/lib/jquery_plugin/ui/jquery-ui.js"></script>

<script type="text/javascript" src="../../../js/common/popup.js"></script>
<script src="../../../js/common/datepicker.js"></script>
<script type="text/javascript"
	src="../../../js/lib/jquery_alert/jquery.alerts.js"></script>
<script src="../../../js/MonthPicker/WdatePicker.js"></script>
<script type="text/javascript" src="../../../js/common/monthPicker.js"></script>
<script type="text/javascript"
	src="../../../js/component/invoiceInsert.js"></script>
<link id="icon" href="../../../images/s.ico" rel="icon">
<!--script 〓system-->

<!--styles common-->
<link href="../../../js/lib/jquery_plugin/bs/css/bootstrap.min.css"
	rel="stylesheet" type="text/css">
<link
	href="../../../js/lib/jquery_plugin/bs/css/bootstrap-responsive.css"
	rel="stylesheet" type="text/css">
<link href="../../../css/common/bootstrap_setup.css" rel="stylesheet"
	type="text/css">
<link href="../../../js/lib/jquery_plugin/ui/jquery-ui.css"
	rel="stylesheet" type="text/css">
<link href="../../../js/lib/jquery_alert/jquery.alerts.css"
	rel="stylesheet" type="text/css">
<link href="../../../css/common/common.css" rel="stylesheet"
	type="text/css">
<link href="../../../css/common/popup.css" rel="stylesheet"
	type="text/css">
<link href="../../../css/common/datepicker.css" rel="stylesheet">
<link href="../../../js/lib/jquery_alert/jquery.alerts.css"
	rel="stylesheet" type="text/css">
<link href="../../../css/common/monthPicker.css" rel="stylesheet"
	type="text/css">

<script type="text/javascript">

</script>

</head>
<body>
	<!--▼▼▼header▼▼▼-->
	<header>
		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<button data-target=".nav-collapse" data-toggle="collapse"
						class="btn btn-navbar" type="button">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<!--logo-->
					<ul class="nav nav-pills logo">
						<li><a class="logo" href="../../menu/mainMenuG.html"
							style="padding: 0px;"> <img alt=""
								src="../../../images/logo.png"> <span
								style="padding-left: 10px; padding-top: 10px; padding-bottom: 5px; color: #EEEEEE; font-size: 23px; font-weight: bold; vertical-align: middle;">订单管理系统</span>
						</a></li>
					</ul>
					<!--navi-->
					<div class="nav-collapse collapse">
						<ul class="nav pull-right user">
							<li class="dropdown"><a data-toggle="dropdown"
								class="dropdown-toggle" href="#"> <i
									class="icon-user icon-white unit"></i>张三<b class="caret"></b>
							</a>
								<ul class="dropdown-menu" style="z-index: 1000000;">
									<li><a href="../../common/resetPassword.html">修改密码</a></li>
									<li class="divider"></li>
									<li><a href="../../login.html">退出系统</a></li>
								</ul></li>
							<li class="" style="border-left-width: 0px;"><a class=""
								style="border-left-width: 0px;" data-toggle="dropdown" href="#">
									<span class="label label-info"
									style="background: #4f81bd; padding: 3px 4px; width: 30px; height: 14px; text-align: center; border-radius: 10px; font-size: 13px;">管理</span>
							</a></li>
						</ul>
						<ul class="nav pull-right navi">
							<li class=""><a href="../../menu/mainMenuG.html">返回主菜单</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!--▼▼▼search▼▼▼-->
	<div class="container-fluid search disabled">
		<div class="row-fluid"></div>
	</div>
	<!--▼▼▼contents(field type)▼▼▼-->
	<div class="main">
		<div class="banner">
			<span>发票登记</span>
		</div>
		<div class="content">
			<div style="margin: 10px 0; padding: 5px 20px;">
				<div class="edit-content"
					style="border-top: 1px solid #0088CC; padding-top: 10px;">
					<!-- 	<table class="edit-table" style="margin: 0 auto;"> -->
					<table class="edit-table" style="width: 90%">
						<tbody>
							<tr>
								<td width="60%">
									<table>
										<tbody>
											<tr>
												<td class="right_align">合同号&nbsp;:&nbsp;</td>
												<td><div style="margin-bottom: 8px;">
														<input class="input-xlarge" disabled type="text"
															style="margin-bottom: 0px; width: 120px; ime-mode: disabled"
															value="">－<input class="input-xlarge" type="text"
															value="001" disabled
															style="margin-bottom: 0px; width: 30px;; ime-mode: disabled"
															value="">
													</div></td>
												<td colspan="2"></td>
											</tr>
											<tr>
												<td class="right_align">业务员&nbsp;:&nbsp;</td>
												<td colspan="3">
													<table>
														<tr>
															<td><input type="text" disabled
																style="margin-bottom: 5px; width: 120px;" id="user_name"
																value="李四"></input></td>
															<td>&nbsp;&nbsp;&nbsp;&nbsp; <span>代理商&nbsp;:&nbsp;</span>
															</td>
															<td>
																<div
																	style="display: inline; margin-left: 3px; width: 100px;">
																	<input type="text" disabled style="width: 40px;"
																		id="agency_id" value="0001"></input> <label
																		style="display: inline; margin-left: 3px;"
																		id="agency_name">某市总代理</label>
																</div>
															</td>
														</tr>
													</table>
											</tr>
											<tr>
												<td class="right_align">客户类别&nbsp;:&nbsp;</td>
												<td colspan="3"><input value="国网" type="text" disabled
													style="width: 60px;"></input></td>
											</tr>
											<tr>
												<td class="right_align">客户名称&nbsp;:&nbsp;</td>
												<td colspan="3">
													<div style="display: inline;">
														<input type="text" disabled style="width: 300px;"
															id="customer_name" value="某市国家电网"></input>
													</div>
												</td>
											</tr>
											<tr>
												<td class="right_align">项目名称&nbsp;:&nbsp;</td>
												<td colspan="3"><input id="input01" disabled class=""
													type="text" style="margin-bottom: 5px; width: 300px;"
													value="项目1"></td>
											</tr>
											<tr>
												<td class="right_align">预计发货月&nbsp;:&nbsp;</td>
												<td colspan="3"><input id="test01" disabled class=""
													type="text" value="201406"
													style="width: 70px; margin-bottom: 3px; ime-mode: disabled">
												</td>
											</tr>
											<tr>
												<td class="right_align">预计送电月&nbsp;:&nbsp;</td>
												<td><input id="test02" disabled value="201408" class=""
													type="text"
													style="width: 70px; margin-bottom: 5px; ime-mode: disabled">
												</td>
												<td class="right_align">通电后保证月数&nbsp;:&nbsp;</td>
												<td><input type="text" disabled value="100"
													style="text-align: right; margin-bottom: 0; width: 60px;"></input>
												</td>
											</tr>
											<tr>

											</tr>
											<tr>
												<td class="right_align">送电日期&nbsp;:&nbsp;</td>
												<td colspan="3"><input id="date_power" type="text"
													style="width: 80px; margin-bottom: 3px"></td>
											</tr>
										</tbody>
									</table>


								</td>
								<td width="40%">
									<table style="margin-left: 30px;">
										<tbody>
											<tr>
												<td class="right_align">投标铜价&nbsp;:&nbsp;</td>
												<td><input type="text" disabled value="200"
													style="margin-bottom: 5px; width: 150px; text-align: right;"></td>
											</tr>
											<tr>
												<td class="right_align">金额(货币)&nbsp;:&nbsp;</td>
												<td><input type="text" disabled value="10,000"
													style="margin-bottom: 5px; width: 150px; text-align: right; ime-mode: disabled">
													<input type="text" disabled value="人民币"
													style="margin-bottom: 5px; width: 60px;"></input></td>
											</tr>
											<tr>
												<td colspan="2"><span>&nbsp;</span></td>
											</tr>
											<tr>
												<td class="right_align">合同总价&nbsp;:&nbsp;</td>
												<td><input id="input01" class="" disabled
													value="200,000,000.00" type="text"
													style="width: 150px; text-align: right; ime-mode: disabled">
												</td>
											</tr>
											<tr>
												<td class="right_align">佣金率&nbsp;:&nbsp;</td>
												<td><input type="text" disabled value="50"
													style="margin-bottom: 5px; width: 50px; text-align: right; ime-mode: disabled">&nbsp;<label
													style="display: inline;">%</label></td>
											</tr>
											<tr>
												<td class="right_align">佣金金额&nbsp;:&nbsp;</td>
												<td><input type="text" disabled value="100,000,000.00"
													style="margin-bottom: 5px; width: 150px; text-align: right; ime-mode: disabled"></td>
											</tr>
											<tr>
												<td colspan="2"></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div>
					<table style="width: 70%">
						<tr>
							<td>
								<div>
									<span
										style="position: relative; left: 10px; top: 8px; font-size: 14px; background-color: #FFFFFF;">
										回款比例/预计回款月/预计回款金额&nbsp;:&nbsp; </span>
									<div
										style="padding: 20px 10px; margin-top: 0px; border: 1px solid #0088CC;">
										<table>
											<tr>
												<td colspan="6"></td>
											</tr>
											<tr>
												<td colspan="6"></td>
											</tr>
											<tr>
												<td><input id="input01" type="text" disabled
													style="width: 45px; margin-bottom: 0; ime-mode: disabled">
													:&nbsp;&nbsp;
												<td><input id="input01" class="" type="text" disabled
													style="width: 45px; margin-bottom: 0; ime-mode: disabled">
													:&nbsp;
												<td><input id="input01" class="" type="text" disabled
													style="width: 45px; margin-bottom: 0; ime-mode: disabled">
													:&nbsp;&nbsp;
												<td><input id="input01" class="" type="text" disabled
													style="width: 45px; margin-bottom: 0; ime-mode: disabled">
													:&nbsp;&nbsp;
												<td><input id="input01" class="" type="text" disabled
													style="width: 45px; margin-bottom: 0; ime-mode: disabled">
													:&nbsp;&nbsp;
												<td><input id="input01" class="" type="text" disabled
													style="width: 45px; margin-bottom: 0; ime-mode: disabled">
											</tr>
											<tr>
												<td><input id="input07" type="text"
													style="margin-bottom: 0; width: 70px; ime-mode: disabled"
													value="2013/12"><img src="../../../images/cal.gif"
													id="imgs" onclick="changeMonth('input07')" />
												<td><input id="input02" type="text"
													style="margin-bottom: 0; width: 70px; ime-mode: disabled"><img
													src="../../../images/cal.gif" id="imgs"
													onclick="changeMonth('input02')" />
												<td><input id="input03" type="text"
													style="margin-bottom: 0; width: 70px; ime-mode: disabled"><img
													src="../../../images/cal.gif" id="imgs"
													onclick="changeMonth('input03')" />
												<td><input id="input04" type="text"
													style="margin-bottom: 0; width: 70px; ime-mode: disabled"><img
													src="../../../images/cal.gif" id="imgs"
													onclick="changeMonth('input04')" />
												<td><input id="input05" type="text"
													style="margin-bottom: 0; width: 70px; ime-mode: disabled"><img
													src="../../../images/cal.gif" id="imgs"
													onclick="changeMonth('input05')" />
												<td><input id="input06" type="text"
													style="margin-bottom: 0; width: 70px; ime-mode: disabled"><img
													src="../../../images/cal.gif" id="imgs"
													onclick="changeMonth('input06')" />
											</tr>


											<tr>
												<td><input id="input01" class="right_align" type="text"
													style="margin-bottom: 0; width: 90px; ime-mode: disabled"
													value="1,000,000">
												<td><input id="input01" class="right_align" type="text"
													style="margin-bottom: 0; width: 90px; ime-mode: disabled">
												<td><input id="input01" class="right_align" type="text"
													style="margin-bottom: 0; width: 90px; ime-mode: disabled">
												<td><input id="input01" class="right_align" type="text"
													style="margin-bottom: 0; width: 90px; ime-mode: disabled">
												<td><input id="input01" class="right_align" type="text"
													style="margin-bottom: 0; width: 90px; ime-mode: disabled">
												<td><input id="input01" class="right_align" type="text"
													style="margin-bottom: 0; width: 90px; ime-mode: disabled">
											</tr>
										</table>
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div
					style="padding: 0px 10px 10px; width: 900px; margin: 20px auto 0;"
					class="div_table">
					<div class="" style="width: 870px;">
						<table class="table table-striped table-bordered table-title"
							style="background-color: #E4F4CB; margin-bottom: 0px;">
							<thead>
								<tr>
									<th width="10%">序号</th>
									<th width="10%">种类</th>
									<th width="20%">规格型号</th>
									<th width="20%">电压等级</th>
									<th width="10%">数量</th>
									<th width="5%">单位</th>
									<th width="10%">合同单价</th>
									<th width="15%">金额</th>
								</tr>
							</thead>
						</table>
					</div>
					<div
						style="overflow-y: auto; padding-right: 5px; height: 165px; width: 880px;">
						<div style="width: 870px;">
							<table id="product_table_1"
								class="table table-striped table-bordered table-body"
								style="background-color: #E4F4CB;">
								<tr onclick="toInvoiceList('tr1');" class="row-select">
									<td width="10%">1</td>
									<td width="10%">电缆</td>
									<td width="20%">127/220-2500</td>
									<td width="20%">20KV</td>
									<td width="10%" class="right_align">5,645.00</td>
									<td width="5%" class="right_align">米</td>
									<td width="10%" class="right_align">54,364.00</td>
									<td width="15%" class="right_align">122,666,000</td>
								</tr>
								<tr onclick="toInvoiceList('tr2');">
									<td width="10%">2</td>
									<td width="10%">附件</td>
									<td width="20%">127/220-2500</td>
									<td width="20%">20KV</td>
									<td width="10%" class="right_align">5,645.00</td>
									<td width="5%" class="right_align">项</td>
									<td width="10%" class="right_align">54,364.00</td>
									<td width="15%" class="right_align">122,666,000</td>
								</tr>
								<tr onclick="toInvoiceList('tr3');">
									<td width="10%">3</td>
									<td width="10%">电缆</td>
									<td width="20%">127/220-2500</td>
									<td width="20%">20KV</td>
									<td width="10%" class="right_align">5,645.00</td>
									<td width="5%" class="right_align">米</td>
									<td width="10%" class="right_align">54,364.00</td>
									<td width="15%" class="right_align">122,666,000</td>
								</tr>
								<tr onclick="toInvoiceList('tr4');">
									<td width="10%">4</td>
									<td width="10%">电缆</td>
									<td width="20%">127/220-2500</td>
									<td width="20%">20KV</td>
									<td width="10%" class="right_align">5,645.00</td>
									<td width="5%" class="right_align">米</td>
									<td width="10%" class="right_align">54,364.00</td>
									<td width="15%" class="right_align">122,666,000</td>
								</tr>
								<tr onclick="toInvoiceList('tr5');">
									<td width="10%">5</td>
									<td width="10%">电缆</td>
									<td width="20%">127/220-2500</td>
									<td width="20%">20KV</td>
									<td width="10%" class="right_align">5,645.00</td>
									<td width="5%" class="right_align">米</td>
									<td width="10%" class="right_align">54,364.00</td>
									<td width="15%" class="right_align">122,666,000</td>
								</tr>
								<tr onclick="toInvoiceList('tr6');">
									<td width="10%">6</td>
									<td width="10%">电缆</td>
									<td width="20%">127/220-2500</td>
									<td width="20%">20KV</td>
									<td width="10%" class="right_align">5,645.00</td>
									<td width="5%" class="right_align">米</td>
									<td width="10%" class="right_align">54,364.00</td>
									<td width="15%" class="right_align">122,666,000</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<!-- div-table -->
				<div id="product_manage"
					style="padding-top: 20px; border-top: 1px solid #0088CC;">
					<div class="div_table" style="width: 900px;; margin: 0 auto;">
						<div>
							<div id="" style="float: right;">
								<a id="addProduct" class="icon icon-add"
									href="javascript:void(0);" title="" style="margin-right: 30px">增加</a>
							</div>
							<div style="clear: both;"></div>
						</div>
						<div class="" style="width: 870px;">
							<table class="table table-striped table-bordered table-title"
								style="background-color: #E4F4CB; margin-bottom: 0px;">
								<thead>
									<tr>
										<th width="25%">发票 本/号</th>
										<th width="13%" style="height: 21px;">发货日期</th>
										<th width="13%">发票日期</th>
										<th width="10%">发票单价</th>
										<th width="10%">开票数量</th>
										<th width="15%">发票金额</th>
										<th width="14%"></th>
									</tr>
								</thead>
							</table>
						</div>
						<div
							style="overflow-y: auto; padding-right: 5px; height: 185px; width: 890px;">
							<div style="width: 870px;">
								<table id="product_table"
									class="table table-striped table-bordered table-body">
									<tr style="heght: 20px;" ondblclick="updateContract()"
										id="contract1">
										<td width="25%" style="text-align: center">0123455689</td>
										<td width="13%" style="text-align: center;">2014/01/10</td>
										<td width="13%" style="text-align: center;">2014/01/10</td>
										<td width="10%" class="right_align">100.00</td>
										<td width="10%" class="right_align">100.00</td>
										<td width="15%" class="right_align">10,000.00</td>
										<td width="14%" class="center_td"><a
											class="icon icon-edit link-hand-dialog" id="update_btn_row"
											onclick="updateContract()">编辑</a>&nbsp;&nbsp;&nbsp;<a
											class="icon icon-remove" type="button"
											onclick="deleteContract(this)">删除</a></td>
									</tr>
									<tr style="heght: 20px;" ondblclick="updateContract()"
										id="contract2">
										<td width="25%" style="text-align: center">1234893389</td>
										<td width="13%" style="text-align: center;">2014/01/10</td>
										<td width="13%" style="text-align: center;">2014/01/10</td>
										<td width="10%" class="right_align">100.00</td>
										<td width="10%" class="right_align">100.00</td>
										<td width="15%" class="right_align">10,000.00</td>
										<td width="14%" class="center_td"><a
											class="icon icon-edit link-hand-dialog"
											onclick="updateContract()">编辑</a>&nbsp;&nbsp;&nbsp;<a
											class="icon icon-remove" type="button"
											onclick="deleteContract(this)">删除</a></td>
									</tr>
									<tr style="heght: 20px;" ondblclick="updateContract()"
										id="contract3">
										<td width="25%" style="text-align: center">0000000006</td>
										<td width="13%" style="text-align: center;">2014/01/10</td>
										<td width="13%" style="text-align: center;">2014/01/10</td>
										<td width="10%" class="right_align">100.00</td>
										<td width="10%" class="right_align">100.00</td>
										<td width="15%" class="right_align">10,000.00</td>
										<td width="14%" class="center_td"><a
											class="icon icon-edit link-hand-dialog"
											onclick="updateContract()">编辑</a>&nbsp;&nbsp;&nbsp;<a
											class="icon icon-remove" type="button"
											onclick="deleteContract(this)">删除</a></td>
									</tr>
									<tr style="heght: 20px;" ondblclick="updateContract()"
										id="contract4">
										<td width="25%" style="text-align: center">0000000007</td>
										<td width="13%" style="text-align: center;">2014/01/10</td>
										<td width="13%" style="text-align: center;">2014/01/10</td>
										<td width="10%" class="right_align">100.00</td>
										<td width="10%" class="right_align">100.00</td>
										<td width="15%" class="right_align">10,000.00</td>
										<td width="14%" class="center_td"><a
											class="icon icon-edit link-hand-dialog" id="update_btn_row"
											onclick="updateContract()">编辑</a>&nbsp;&nbsp;&nbsp;<a
											class="icon icon-remove" type="button"
											onclick="deleteContract(this)">删除</a></td>
									</tr>
									<tr style="heght: 20px;" ondblclick="updateContract()"
										id="contract5">
										<td width="25%" style="text-align: center">0000000008</td>
										<td width="13%" style="text-align: center;">2014/01/10</td>
										<td width="13%" style="text-align: center;">2014/01/10</td>
										<td width="10%" class="right_align">100.00</td>
										<td width="10%" class="right_align">100.00</td>
										<td width="15%" class="right_align">10,000.00</td>
										<td width="14%" class="center_td"><a
											class="icon icon-edit link-hand-dialog"
											onclick="updateContract()">编辑</a>&nbsp;&nbsp;&nbsp;<a
											class="icon icon-remove" type="button"
											onclick="deleteContract(this)">删除</a></td>
									</tr>
									<tr style="heght: 20px;" ondblclick="updateContract()"
										id="contract6">
										<td width="25%" style="text-align: center">0000000009</td>
										<td width="13%" style="text-align: center;">2014/01/10</td>
										<td width="13%" style="text-align: center;">2014/01/10</td>
										<td width="10%" class="right_align">100.00</td>
										<td width="10%" class="right_align">100.00</td>
										<td width="15%" class="right_align">10,000.00</td>
										<td width="14%" class="center_td"><a
											class="icon icon-edit link-hand-dialog"
											onclick="updateContract()">编辑</a>&nbsp;&nbsp;&nbsp;<a
											class="icon icon-remove" type="button"
											onclick="deleteContract(this)">删除</a></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- content -->

		<div class="bottom_block">
			<a class="btn btn-primary btn-middle" style=""
				onclick="confirmInfo();">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保存&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
			<a class="btn btn-info btn-middle-aft" style=""
				href="invoiceSearch.html">返回</a>
		</div>
	</div>
	<div id="product_dialog" style="display: none;">
		<table class="table-edit table-striped table-bordered table-body"
			style="width: 870px; border-top-width: 1px;">
			<tbody>
				<tr>
					<td class="right_align">发票 本/号&nbsp;:&nbsp;</td>
					<td><input type="text" class="must right_align"
						style="width: 180px;" id="test05"></td>
				</tr>
				<tr>
					<td width="20%" class="right_align">发货日期&nbsp;:&nbsp;</td>
					<td width="80%"><input type="text" class="must"
						style="width: 80px;" id="delivery_date"></td>
				</tr>
				<tr>
					<td class="right_align">发票日期&nbsp;:&nbsp;</td>
					<td><input type="text" class="must" style="width: 80px;"
						id="invoice_date"></td>
				</tr>
				<tr>
					<td class="right_align">发票单价&nbsp;:&nbsp;</td>
					<td><input type="text" class="must right_align"
						style="width: 180px;" id="test06"></td>
				</tr>
				<tr>
					<td class="right_align">开票数量&nbsp;:&nbsp;</td>
					<td><input type="text" class="must right_align"
						style="width: 180px;" id="test07"></td>
				</tr>
				<tr>
					<td class="right_align">发票金额&nbsp;:&nbsp;</td>
					<td><input type="text" class="must right_align"
						style="width: 180px;" id="test08"></td>
				</tr>
			</tbody>
		</table>
	</div>



	<div id="dateSelectPop" style="display: none">
		<div class="modal-body">
			<table
				style="background: none repeat scroll 0% 0% rgb(234, 247, 239); width: 100%;">
				<tr>
					<td>
						<div>
							<table style="width: 100%; text-align: center;"
								class="sel_table_year">
								<tr>
									<td id="year_back" style="cursor: pointer;"><span>&lt;</span></td>
									<td id="year_next" style="cursor: pointer;"><span>&gt;</span></td>
								</tr>
								<tr>
									<td><div id="sel_year1" class="p_sel_year"></div></td>
									<td><div id="sel_year6" class="p_sel_year"></div></td>
								</tr>
								<tr>
									<td><div id="sel_year2" class="p_sel_year"></div></td>
									<td><div id="sel_year7" class="p_sel_year"></div></td>
								</tr>
								<tr>
									<td><div id="sel_year3" class="p_sel_year"></div></td>
									<td><div id="sel_year8" class="p_sel_year"></div></td>
								</tr>
								<tr>
									<td><div id="sel_year4" class="p_sel_year"></div></td>
									<td><div id="sel_year9" class="p_sel_year"></div></td>
								</tr>
								<tr>
									<td><div id="sel_year5" class="p_sel_year"></div></td>
									<td><div id="sel_year10" class="p_sel_year"></div></td>
								</tr>
							</table>
						</div>
					</td>
					<td style="background-color: rgb(0, 143, 32); margin-right: 5px;">
					</td>
					<td>
						<div>
							<table style="width: 100%; text-align: center;"
								class="sel_table_month">
								<tr>
									<td><div id="sel_month1" class="p_sel_month">
											01<span class="sel_month_unit">月</span>
										</div></td>
									<td><div id="sel_month7" class="p_sel_month">
											07<span class="sel_month_unit">月</span>
										</div></td>
								</tr>
								<tr>
									<td><div id="sel_month2" class="p_sel_month">
											02<span class="sel_month_unit">月</span>
										</div></td>
									<td><div id="sel_month8" class="p_sel_month">
											08<span class="sel_month_unit">月</span>
										</div></td>
								</tr>
								<tr>
									<td><div id="sel_month3" class="p_sel_month">
											03<span class="sel_month_unit">月</span>
										</div></td>
									<td><div id="sel_month9" class="p_sel_month">
											09<span class="sel_month_unit">月</span>
										</div></td>
								</tr>
								<tr>
									<td><div id="sel_month4" class="p_sel_month">
											04<span class="sel_month_unit">月</span>
										</div></td>
									<td><div id="sel_month10" class="p_sel_month">
											10<span class="sel_month_unit">月</span>
										</div></td>
								</tr>
								<tr>
									<td><div id="sel_month5" class="p_sel_month">
											05<span class="sel_month_unit">月</span>
										</div></td>
									<td><div id="sel_month11" class="p_sel_month">
											11<span class="sel_month_unit">月</span>
										</div></td>
								</tr>
								<tr>
									<td><div id="sel_month6" class="p_sel_month">
											06<span class="sel_month_unit">月</span>
										</div></td>
									<td><div id="sel_month12" class="p_sel_month">
											12<span class="sel_month_unit">月</span>
										</div></td>
								</tr>
							</table>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>


</body>
</html>
